html {
    background-color: darkcyan;
}

.square-list {
    list-style-type: square;
}

.letters-list {
    list-style-type:upper-alpha
}

.nav {
    list-style:none;
    background-color: rgb(0, 172, 172);
    padding: 30px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 1250px;

    font-size: large;
    font-weight: 400;

}

.no-bullet-list {
    list-style: none;
}